.centrar
{
    max-width: 80rem;
    margin: 0 auto;
}
.carousel
{
    display: flex;
}

#image
{
    width: 100%;
    height: 40rem;
    background-size: cover;
}

label
{
    background: transparent;
    width: 5rem;
    text-align: center;
    padding: 15rem 0;
    color: #FFF;
    font-size: 50px;
    font-weight: bolder;
    display: block;
    user-select: none;
}

label:first-child
{
    position: relative;
    left: 4.5rem;
}

label:last-child
{
    position: relative;
    right: 4.5rem;
}

label:hover
{
    background: linear-gradient(to bottom, #b55502, #de6700);
    opacity: 0.7;
}