        .mas h2
        {
            font-weight: lighter;
            font-size: 30px;
        }

        .tarjetas
        {
            display: flex;
            margin-left: 200px;
            margin-right: 200px;
        }

        .tarjetas div
        {
            margin-top: 20px;
            padding-top: 0px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 25px;
            text-align: center;
        }

        .tarjetas h3 {font-size: 25px;}

        .tarjetas p 
        {
            line-height: 25px;
            
        }

        main h2 
        {
        text-align: center;
        font-weight: lighter;
        font-size: 30px;
        }

        .tarjetas2
        {
            display: flex;
            margin-left: 200px;
            margin-right: 200px;
            text-align: center;
        }

        .tarjetas2 .bordivs
        {
            margin: 10px;
            padding-top: 0px;
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 25px;
            background-color: #F5F5F5;
            border: 1px solid;
            border-color: #BDBDBD;
        }

        .tarjetas2 h3
        {
            text-align: left;
            font-size: 28px;
            padding-top: 15px;
            padding-left: 18px;
            font-weight: lighter;
            line-height: 0px;
        }
        .tarjetas2 p
        {
            text-align: left;
            line-height: 25px;
            padding-left: 20px;
            padding-right: 20px;
            
        }

        .tarjetas2 div a
        {
            text-decoration: none;
            background-color: #DF8716;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 100px;
            padding-right: 100px;
            color: white;
            font-weight: bold;
            font-size: 14px;
            
        }

        .precio 
        {
        margin-bottom: 0px;
        color: #71B11F;
        font-weight: bold;
        line-height: 0px;
        }

        .tarjetas2 .iconoswed
        {
            margin-top: 20px;
            margin-bottom: 35px;
        }

        .tarjetas2 .iconoswed img
        {
            padding-right: 15px;
            padding-left: 15px;
            border: 0px solid;
            color: transparent;
        }

        .vertodas
        {
            background-color: rgb(18, 212, 18);
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 25px;
            padding-right: 25px;
            margin-top: 610px;
            margin-right: 210px;
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
            color: white;
        }

        .cont
        {
            margin-top: 100px;
            background-image: url(../img/encuentra.jpg);
            background-position: center center;
            font-size: 16px;
            color: white;
            height: 40vh;
            padding-top: 100px;
            padding-left: 100px;
            line-height: 50px;
        }

        .cont a
        {
            text-decoration: none;
            color: white;
            background-color: #DF8716;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 20px;
            padding-right: 20px;
            font-weight: bold;
            font-size: 14px;
        }
        
        .testimoniales h3
        {
            margin-right: 50px;
            font-size: 30px;
            font-weight: lighter;
        }

        .testcuadro
        {
            background-color: rgb(18, 212, 18);
            color: white;
            font-size: 23px;
            line-height: 40px;
            height: 360px;
            width: 400px;
            border-radius: 15px;
            margin-right: 100px;
        }

        .testcuadro blockquote
        {
            padding-top: 40px;
            padding-left: 60px;
        }

        .testcuadro p
        {
            text-align: right;
            font-weight: bold;
            padding-right: 20px;
            margin-top: 30px;
        }

        .testcuadro img
        {
            margin-right: 500px;
        }

        .nuestroblog
        {
            padding-left: 100px;
        }

        .nuestroblog h3
        {
            margin-right: 500px;
            font-size: 30px;
            font-weight: lighter;
        }
        
        .derecha
        {
            position: relative;
            display: inline-block;
            left: 20px;
            bottom: 50px;
            line-height: 25px;
        }

        .derecha h4
        {
            
            font-size: 26px;
        }

        .derecha hr
        {
            height: 4px;
            width: 13%;
            border-color: transparent;
            background-color: rgb(38, 224, 38);
            margin-right: 1000px;
            position: relative;
            bottom: 25px;
        }

        em
        {
            color: #DF8716;
            font-weight: bold;
        }

        .derecha p
        {
            font-size: 15px;
        }

        footer
        {
            background-color: #323232;
            color: white;
            position: relative;
            padding-top: 35px;
            padding-bottom: 35px;
            margin-top: 15cm;
        }
        
        footer .fenlaces a
        {
            text-decoration: none;
            color: white;
            font-weight: 600px;
            padding-right: 15px;
        }

        footer .fenlaces a:hover
        {
            color: rgb(18, 212, 18);
        }

        footer p
        {
            text-align: right;
            padding-right: 50px;
            font-weight: bold;
            font-size: 17px;
        }