    .mas h2
    {
        font-weight: lighter;
        font-size: 30px;
    }

    .tarjetas
    {
        display: flex;
        margin-left: 200px;
        margin-right: 200px;
    }

    .tarjetas div
    {
        margin-top: 20px;
        padding-top: 0px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 25px;
        text-align: center;
    }

    .tarjetas h3 {font-size: 25px;}

    .tarjetas p 
    {
        line-height: 25px;
        
    }

    main h2 
    {
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
    }

    .tarjetas2
    {
        display: flex;
        margin-left: 200px;
        margin-right: 200px;
        text-align: center;
    }

    .tarjetas2 .bordivs
    {
        margin: 10px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 25px;
        background-color: #F5F5F5;
        border: 1px solid;
        border-color: #BDBDBD;
    }

    .tarjetas2 h3
    {
        text-align: left;
        font-size: 28px;
        padding-top: 15px;
        padding-left: 18px;
        font-weight: lighter;
        line-height: 0px;
    }
    .tarjetas2 p
    {
        text-align: left;
        line-height: 25px;
        padding-left: 20px;
        padding-right: 20px;
        
    }

    .tarjetas2 div a
    {
        text-decoration: none;
        background-color: #DF8716;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 110px;
        padding-right: 110px;
        color: white;
        font-weight: bold;
        font-size: 14px;
        
    }

    .precio 
    {
    margin-bottom: 0px;
    color: #71B11F;
    font-weight: bold;
    line-height: 0px;
    }

    .tarjetas2 .iconoswed
    {
        margin-top: 20px;
        margin-bottom: 35px;
    }

    .tarjetas2 .iconoswed img
    {
        padding-right: 15px;
        padding-left: 15px;
        border: 0px solid;
        color: transparent;
    }

    .vertodas
    {
        background-color: rgb(18, 212, 18);
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 610px;
        margin-right: 210px;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        color: white;
    }

    .cont
    {
        margin-top: 100px;
        background-image: url(../img/encuentra.jpg);
        background-position: center center;
        font-size: 16px;
        color: white;
        height: 40vh;
        padding-top: 100px;
        padding-left: 100px;
        line-height: 50px;
    }

    .cont a
    {
        text-decoration: none;
        color: white;
        background-color: #DF8716;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: bold;
        font-size: 14px;
    }

    .nuestroblog article h4 p
    {
        display: flex;
    }